.DS_Store

bin/
.vscode/

# ignore binaries
tile-configurator
debug
ci/params.yml
fixtures/homelab/


# ignore lazy scripts for testing
ci/set-pipeline.sh
output.yml
setNetworkFromJson.sh

# exclude potentially sensitive information
params*.yml
*.key
